@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our car webpage</h1>
    <p>Please go to the <a href="@Url.Action("Owners","App")">clients section</a> if you want to get started.</p>
</div>
