@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This project belongs to Javier Padín Debén and David Paradela Rodríguez.</p>
<p>The intent of this website is to provide car solutions to our customers.</p>
<p>Solera Bootcamp 3</p>
