@model List<Final3.Models.Claim>

<h1>All claims in our database</h1>
<div class="accordion" id="accordionExample">
    @foreach (var claim in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@{@claim.Id}" aria-expanded="true" aria-controls="collapse@{@claim.Id}">
                    Claim
                </button>
            </h2>
            <div id="collapse@{@claim.Id}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body inside">
                    <div class="inside-info">

                        <div>
                            <span>Description:</span>
                            <span>@claim.Description</span>
                        </div>
                        <div>
                            <span>Status:</span>
                            <span>@claim.Status</span>
                        </div>
                        <div>
                            <span>Date:</span>
                            <span>@claim.Date</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<form action="@Url.Action("Vehicles")">
    <button class="go-to" type="submit">Go back</button>
</form>