@model List<Final3.Models.Claim>

<h1>All claims in our database</h1>
@{
    foreach (var claim in Model)
    {
        <ul class="ulStyle">
            <li>@claim.Description</li>
            <li>@claim.Status</li>
            <li>@claim.Date</li>
        </ul>
    }
}


