@model List<Final3.Models.Owner>

<h1>All owners in our database</h1>
@{
    foreach (var owner in Model)
    {
        <p>@owner.FirstName</p>
        <p>@owner.LastName</p>
        <p>@owner.DriverLicense</p>
        <p>@owner.Id</p>
    }
}